node_modules
.DS_Store
.next
out
*.log
dist
.idea/
*.map
.env
esm
.rpt2_cache
umd
code-owners.json
.linaria-cache
# .i18n

# yarn v2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/cache
!.yarn/patches

# npmrc
.npmrc

sitemap.xml
sitemap-0.xml

# e2e - appium
appium.log

# vscode launch 설정
.vscode/launch.json
